/* write your override styles here */
#tag-7 {
  display: none;
}

#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

body div#wall #tag-3.slick {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

