/* write your override styles here */
#tag-7 {
  display: none;
}

#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#wall #tag-3 {
  display: none;
}

#wall .parent {
  display: none;
}
